# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Maven
target/

# Gradle
.gradle/
build/

# OS (Linux / Mac / Windows)
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo

# VS Code
.vscode/
